<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.dao.CategoryMapper">
    <sql id="condition">
        <where>
            <if test="parent_id!=null and parent_id!=0">
                parent_id = #{parent_id}
            </if>
        </where>
    </sql>
    <select id="CategoryFindAll" resultType="Category">
        select * from Category
        <include refid="condition"/>
    </select>

    <select id="CategoryParFindAll" resultType="Category">
        select * from Category where parent_id = #{parent_id}
    </select>


    <update id="UpdateCategory" parameterType="Category">
      UPDATE category set `parent_id`=#{parent_id},`category_name`=#{category_name} WHERE `category_id`=#{category_id}
	</update>

    <delete id="DeleteCategory" parameterType="int">
          delete from category where category_id=#{category_id}
    </delete>
    <select id="listallsp" resultType="java.util.HashMap" >
SELECT a.category_id,a.name,b.product_id,b.pname,b.show_price,b.pic_img FROM category AS a INNER JOIN product AS b ON a.category_id=b.category_id  WHERE a.parent_id=0 ORDER BY b.product_id ASC
    </select>

</mapper>