<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.dao.ProductMapper">
    <sql id="condition">
        <where>
            <if test="pname!=null and pname!=''">
               pname = #{pname}
            </if>
        </where>
    </sql>
    <select id="ProductFindAll" resultType="Product">
        select * from Product
        <include refid="condition"/>
    </select>

    <update id="UpdateProduct" parameterType="Product">
		UPDATE User SET
		login_password=#{login_password},real_name=#{real_name},sex=#{sex}
		,telephone=#{telephone}
		WHERE login_name=#{login_name}
	</update>

    <delete id="DeleteUser" parameterType="int">
          delete from User where user_id=#{user_id}
    </delete>
</mapper>