<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.dao.shoppingMapper">
    <update id="update">
            UPDATE `shopping` SET `count`=`count`+1 WHERE sid=#{sid}
    </update>
    <update id="updatecount">
            UPDATE `shopping` SET `count`=#{count} WHERE sid=#{sid}
    </update>

    <select id="mapList" resultType="map">
         SELECT * FROM shopping AS a INNER JOIN `product` AS b ON a.`pid`=b.`product_id` WHERE uid=#{id}
    </select>
</mapper>